<div class ="title">ようこそ、BLOGアプリへ</div>

<img src="/assets/hoge.png">
<div class = "content">
  <p>日々の記録を書き連ねましょう。使い方はあなた次第。</p>
  <p>
  日々の学習記録、メモ帳、子供の成長記録。。。<br>
  あなたの人生をちょっぴり豊かにするサービスです。
</p>
</div>
